/* SANITIZE:CSS REQUIRED */

/* DEFAULTS */
:root {
  --theme: #005ce6;
  --theme-light: #3385ff;
  --theme-alpha: rgba(0, 92, 230, 0.64);
  --font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Avenir Next", "Avenir", "Arial", sans-serif;
  font-size: 16px;
}

/* GENERAL */
html,
body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  color: #222;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-style: normal;
}

::selection {
  background: var(--theme-alpha);
}

::-moz-selection {
  background: var(--theme-alpha);
}

/* BUTTONS */
.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  color: white;
  cursor: pointer;
  background-color: var(--theme);
  border: none;
  padding: 0 1.3em;
  border-radius: 0.333em;
  text-transform: uppercase;
  font-size: 1em;
  height: 2em;
  line-height: 2em;
  text-decoration: none;
  font-weight: 800;
  margin: 0.333em;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.btn > img,
button > img,
input[type="button"] > img,
input[type="reset"] > img,
input[type="submit"] > img {
  height: 1.25em;
  margin-right: 0.25em;
}

.btn.round,
button.round,
input[type="button"].round,
input[type="submit"].round,
input[type="reset"].round {
  color: white;
  border: none;
  border-radius: 1.3em;
}

.btn.wire,
button.wire,
input[type="button"].wire,
input[type="submit"].wire,
input[type="reset"].wire {
  background: none;
  color: var(--theme);
  border: 1.5px solid var(--theme);
}

.btn.ghost,
button.ghost,
input[type="button"].ghost,
input[type="submit"].ghost,
input[type="reset"].ghost {
  background: none;
  color: var(--theme);
}

.btn:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: var(--theme);
  border-color: var(--theme);
  color: white;
  filter: saturate(0.75) brightness(1.4);
}

.btn:active,
button:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  transform: scale(0.9);
}

/* INPUT */
.input,
input,
textarea,
select {
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid lightgrey;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  transition: border 200ms ease-in-out, background-color 150ms ease;
  background-color: #f7f7f7;
  padding: 5px;
  display: block;
  width: calc(100% - 10px);
  margin: 5px;
}
.input,
input,
select {
  font-size: 1em;
  height: 2em;
}
textarea {
  font-size: 1em;
}

.input,
input[type="file"] {
  color: #222;
}

.input,
input[type=checkbox] {
  display: inline-block;
  font-size: 1em;
  height: auto;
  width: auto;
}

select {
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="rgba(0, 0, 0, 0.5)" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  padding-right: 25px;
}

.input:focus,
input:focus,
textarea:focus,
select:focus {
  background-color: rgba(240, 237, 237, 0.95);
  border-bottom-color: var(--theme);
  outline: none;
}

/* LINK */
a,
a:hover {
  color: var(--theme);
}

/* TEXT */
.display {
  font-size: 1.45em;
  font-weight: 300;
  letter-spacing: 0.35199999809265137px;
  line-height: 1.25em;
}

blockquote {
  border: none;
  background-color: #eee;
  border-left: var(--theme) solid;
  margin: 0;
  padding: 15px;
}

label {
  color: #444;
  font-size: 0.75em;
  font-weight: 700;
}

ul li {
  list-style-type: circle;
}

/* UTIL */
:disabled,
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.color-primary {
  color: var(--theme);
}

.background-color-primary {
  background-color: var(--theme);
}

.noselect {
  /* Safari, iOS, and Android */
  -webkit-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  user-select: none;
}

.text-center {
  text-align: center;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
