.spinner {
  border: 0.15em solid #ddd;
  border-radius: 50%;
  border-top: 0.15em solid var(--theme);
  width: 1.5em;
  height: 1.5em;
  animation: spin 1s linear infinite;
  margin: auto;
  display: inline-flex;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
